# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log

# system files
.DS_Store
Thumbs.db

# compiled code (if any)
dist/
build/
